body {
    background: rgb(199, 240, 138);
}

img {
    width: 30vw;
    height: 100px;
}

p {
    font-size: 60px;
    color: yellow;
    border: 10px dotted magenta;
    background-color: aqua;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}